---
layout: page_no_header-fullwidth
---
{% assign site_images_folder =  site.path_stories_images | absolute_url | append: "/" %}
{% assign story_images_folder = site_images_folder | append: page.slug | append: "/"  %}




<section class="container blog_archive_page">
    <div class="archive_page_title">
        <h1>{{ page.name }}</h1>
        <div class="section_subtitle_centered">
            <span>Subtitle if wanted</span>
        </div>
    </div>

    
        <section class="story">

            <!-- GLASS -->
            <div class="container col-sm-4 offset-sm-4" style="text-align:center">
                {% if page.glass %}
                    {{ page.glass }}
                {% else %}
                    glass tbc
                {% endif %}
            </div><!-- END GLASS -->


            <!-- INGREDIENTS -->
            {% if page.ingredients.size > 0 %}
                <div class="container">
                    {% for ingredient in page.ingredients %}   
                        <div class="row" style="margin-top:0.5rem;margin-bottom:0.5rem">
                            <div class="col-sm-3" href="#" target="new">{{ ingredient.amount }}</div>
                            <a class="col-sm-9" href="#" target="new">{{ ingredient.name }}</a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}<!-- END INGREDIENTS -->

            <!-- STEPS -->
            {% if page.steps.size > 0 %}
                <div class="container">                        
                    {% for step in page.steps %}   
                        <div class="" target="new">{{ step.step }}</div>
                    {% endfor %}
                </div>
            {% endif %}<!-- END STEPS -->


            <!-- TAGS -->
            {% if page.tags.size > 0 %}
                <div class="container tag_list">
                    <div class="" style="text-align:center">
                        {% for tag in page.tags %}   
                        <a class="tag">#{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}<!-- END TAGS -->

            <section class="container social">
                {% include social_blobs.html %}
            </section>

        </section><!-- END STORY -->

        <!-- RELATED STORIES -->
        <section>
            <div class="container-fullwidth" style="margin-top:2em">
                <h1>more stories</h1>
            </div>  
            <div class="container-fullwidth story-related">
                {% include related_stories.html %}
            </div>
        </section>
        
    
</section><!-- END PAGE -->